body {  
  margin: 0; /* Внутренний отступ между блоками*/
  padding: 0; /* Внутренний отступ между границей и содержимым */
}

div.fon {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #808000;
}

div.bottom {
  width: 100%;
  position: bottom;
}

h1.1 {
  color: #fff;
}
