
#header{
    height: 300px; /* Высота */
    background: #25b33f; /* Фоновый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}
#panel{
    height: 80px; /* Высота, временная. Высота всем блокам задаётся только для предварительной отладки. В дальнейшем высота будет определяться автоматически в зависимости от содержания блока. */
    background: #2ff553; /* Фоновый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}
#content{
    height: 80px; /* Высота, временная */
    background: #9ef7af; /* Фоновый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}
#footer{
    height: 80px; /* Высота */
    background: #41874e; /* Фоновый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}