body {
	margin: 0px;
}

#header{
	width: 100%;
    height: 300px;
	margin: 0px;
}

#panel{
    width: 100%;
    height: 0px;
    background: #2ff553; 
	margin: 0px;
}

#content{
	width: 100%;
    background: #9ef7af;
	margin: 0px;
}

#footer{
    height: 50px; 
	width: 100%;
    background: #41874e;
	margin: 0px;
}

.text {
	padding: 10px;
}

#photo1 {
	float: right;
	padding: 10px;
	background-color:#006400;
	width: 430px;
	text-align: right;
	background-image: url("fonheader.png");
	background-repeat: no-repeat;
	background-position:left;
}

#textheader{
	padding: 10px;
	height: 300px;
	background-color:#008100;
	font-style: italic;
	color: white;
	font-size: x-large;
}